.header {

    @include box(1400, 790);

    &__inner {
        background-size: cover;
        background-position: center center;
        background-image: url("../img/header.jpg");
    }

    &__logo {
        margin: 0;
        padding: 0;
        background-image: url("../icon/sallys-kitchen-logo.svg");
        // text-indent: -999em;
        position: absolute;
        z-index: 200;
        left: 80px;
        top: 70px;
    }

    &__intro {
        z-index: 1;
    }

    &__make-a-booking {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 200;

    }


}
