
// Fonts
$bold-heading: 'GT Walsheim Bold';
$medium-heading: 'GT Walsheim Medium';
$thin-heading: 'GT Walsheim Thin';
$main-font: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;


// Colours
$black : #1A1A1A;
