@mixin box($width, $height) {

    position: relative;

    &:before {
        content: '';
        display: block;
        padding-bottom: percentage($height / $width);
    }

    & > *:first-child {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
}



.callout-text {
    font-family: 'GT Walsheim Thin';
    font-size: 2.25em;
    line-height: 1.33;
    padding: 0;

    & span {
        border-bottom: 1px dashed #1A1A1A;
    }

}


