@mixin box($width, $height) {

    position: relative;

    &:before {
        content: '';
        display: block;
        padding-bottom: percentage($height / $width);
    }

    & > *:first-child {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
}



.callout-text {
    font-family: 'GT Walsheim Thin';
    font-size: 2.25em;
    line-height: 1.33;
    padding: 0;

    & span {
        border-bottom: 1px dashed #1A1A1A;
    }

}


.circle-icon {
    height: 52px;
    width: 52px;
    box-sizing: border-box;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #ccc;
    margin-right: 6px;
    position: relative;
    vertical-align: middle;

    & > *:first-child {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 12px;
    }
}


